@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  button {
    transition: border 100ms ease-in;
    background-color: #ee1313;
    padding: 12px 20px 12px 20px;
    border-radius: 999px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 18px;
  }

  button:hover {
    transition: border 100ms ease-in;
    border-color: rgb(129, 35, 35);
  }
}

:root {
  --primary-red: #ee1313;
}
